* {
    box-sizing: border-box;
    font-family: cursive;
}
span{
    font-size: 37px;
    text-align: center;
}
a{
 text-decoration: none;
}
a:active{
    color: white;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
  
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.image {
    background:url(home.png);
    width: 100%;
    height: 400px;
    background-repeat:round;
    color: white;
    padding: 120px;
    font-size: 80px;
    text-shadow: 15px 20px 30px black;
    text-align: center;
    text-decoration-style: solid;
    }
span{
    color: tomato;
    font-size: 80px;
}

.header{
    background-color: #33b5e5; 
    box-shadow: 0px 8px 10px grey;
    position: absolute;
    position: sticky;
    top: 0px;
}
.header #b2{
    background-color: #33b5e5;
    color: white;
    padding: 20px; 
    border: 0px;
    font-size: 20px;
    
}
.header #b2:hover{
    background-color: #9933cc;
}
.header ul{
    list-style-type: none;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.main{
    font-size: 70px;
    color: dimgray;
    }
.main p{
    font-size: 20px;
}
.box {
    padding: 20px;
    background-color: white;
}
.box1 {
    text-align: center;
    font-size: 30px;
    background-color: white;
    margin: 54px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 400px;
    width: 320px;
}
.boxi1{
    padding: 10px;
    background-color: dimgrey;
}
.boxi1:hover{
    background-color: grey;
    color: black;
}
.css-box{
    background-color: whitesmoke;
}
.about{
    text-align: center;
    font-size: 30px;
    background-color: white;
    margin: 54px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 400px;
    width: 320px;
}
.pass1{
    height: 30px;
    border: 1px solid black;
}

.col-3 h1{
    background-color: #9933cc;
    padding: 10px;
    color: white;
}
form #b1, #b3{
    height: 40px;
    width: 80px;
    background-color: #33b5e5;
    border: 0px;
    color: white;
    font-family: cursive;
    font-size: 20px;
}
form #b1,#b3 :hover{
    background-color: #0099cc;
    color: white;
}
.others{
    background-color: whitesmoke;
}
.footer{
    color: white;
    background-color: #9933cc;
    padding: 30px;
    text-align: center;    
}